@media (max-width: 450px){
    .LoadingPage{
        height: 50vh;
        width: 100%;
    }
    .Nav{
        height: 40px;
    }
    .Logo{
    font-size: 20px;
    padding-left: 10px;
    }
    .Nav ul{
        color: white;
        font-size: 12px;
        gap: 12px;
        padding-right: 20px;
    }
    .Notation{
        height: 50px;
        width: 350px;
        font-size: 18px;
    }
    .Notation p{
        margin-top: 10px;
        font-size: 13px;
        width: 320px;
    }
    .Notation .LoginBtn{
        margin-top: 70px;
        height: 30px;
        width: 100px;
    }
    .LoginBtn .Circle{
        height: 26px;
        width: 26px;
        margin-left: 2px;
        margin-top: 2px;
    }
    .LoginBtn:hover .Circle{
        margin-left: 72px;
        transition: 1s;
    }
    .Circle:hover{
        margin-left: 72px;
        transition: 1s;
    }
    .LoginBtn .Text{
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        right: -5px;
        font-weight: bolder;
    }
    .LoginBtn:hover .Text{
        width: 100px;
        margin-right: 20px;
        transition: 1s;
    }



    .InfoPage{
        height: 50vh;
        width: 100%;
        padding: 0px 30px 0px 30px;
    }
    .LeftImg{
        height: 170px;
        width: 160px;
        border-radius: 15px;
    }
    .RightInfo{
        height: 150px;
        width: 200px;
    }
    .RightInfo h1{
        font-size: 3vh;
    }
    .RightInfo p{
        margin-top: 10px;
        font-size: 1.1vh;
    }
    .RightInfo .Ratings{
        gap: 10px;
        align-items: center;
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    #MiddleSpan{
        border-left: 1.5px solid grey;
        border-right: 1.5px solid grey;
        padding: 0px 15px 0px 15px;
    }
}